// monochrome wireframe topbar styles
// ----------------------------------

.title-bar a, .top-bar, .top-bar ul, .top-bar a {
  background-color: $primary-color;
  color: $white;
  .menu-text {
      padding-left: 0;
  }
}

.top-bar-left {
  @include breakpoint(medium) {    //contains topbar items to page width on medium and up screens 
    @include grid-row();
    float: none;
  }
}

.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
  border-color: $white transparent transparent;
}

li.menu-text {
	display: none;
	@include breakpoint(medium) {
		display: table-cell;
	}
}

ul {
  //margin-left: 0;
}

li.menu, li.label:first-child {
  margin-top: 1rem;
  margin-left: -1.25rem;
}

// Global styles
// -------------

h1 {
  margin: 1rem 0 .5rem;
}

h3 {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: .96875rem;
  font-weight: 500;
  &.rule {
    border-bottom: solid 1px $primary-color;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-size: .96875rem;
    font-weight: 500;
  }
}

.category-nav {
  margin-bottom: 2rem;
  h2 {
    display: block;
    background-color: $light-gray;
    padding: 1rem;
    margin-bottom: 1rem;
    &.active-category {
    background-color: $dark-gray;
    }
  }
  a {
      color: $body-font-color;
  }
}

.footer-links {
    border-top: solid 1px $primary-color;
    margin-top: 3rem;
    padding-top: .5rem;
    h6 {
        font-weight: 500;
    }
    ul {
        list-style: none;
        line-height: 2;
        margin-bottom: 2rem;
    }
}

.copyright {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    p {
        margin-bottom: 0rem;
        font-size: small;
    }
}

// Home page styles
// ----------------

.hours-contact {
  p {
    margin-bottom: 0;
  }
  h6 {
    margin-top: 1rem;
    font-weight: 700;
  }
  ul {
    list-style: none;
  }
}

.social {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5rem;
  max-width: 400px;
  img {
    display: block;
    width: 4rem;
    height: 4rem;
  }
}

// Class category page styles
// --------------------------

.class-list {
  margin-bottom: 2rem;
}

.class-tile {
    border: solid 1px $primary-color;
    padding: .5rem;
    h2 {
      font-weight: 500;
    }
    p {
      line-height: 1.5rem;
    }
    .age {
      font-weight: 300;
      font-size: 1.15rem;
    }
    * {
        margin-bottom: 0;
        color: $body-font-color;
    }
}

// Classes template styles
// -----------------------

.class-info {
  h2 {
    font-weight: 200;
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.session-info {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    h6 {
        font-weight: 500;
    }
    p {
        margin-bottom: 0rem;
        font-weight: 300;
    }
}

.cta .button {
    line-height: .5;
    min-width: 40%;
    max-width: 45%;
    margin-bottom: 3rem;
}