// monochrome wireframe topbar styles
// ----------------------------------

.title-bar a, .top-bar, .top-bar ul, .top-bar a {
  background-color: $primary-color;
  color: $white;
  .menu-text {
      padding-left: 0;
  }
}

.top-bar-left {
  @include breakpoint(medium) {    //contains topbar items to page width on medium and up screens 
    @include grid-row();
    float: none;
  }
}

.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
  border-color: $white transparent transparent;
}

li.menu-text {
	display: none;
	@include breakpoint(medium) {
		display: table-cell;
	}
}

ul {
  //margin-left: 0;
}

li.menu, li.label:first-child {
  margin-top: 1rem;
  margin-left: -1.25rem;
}

// Global styles
// -------------

h1 {
  margin: 1rem 0 .5rem;
}

// Class category page styles
// --------------------------

.class-tile {
    border: solid 1px $primary-color;
    padding: .5rem;
    * {
        margin-bottom: 0;
        color: $body-font-color;
    }
}

// Classes template styles
// -----------------------

.class-info {
  h2 {
    font-weight: 200;
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.session-info {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    h6 {
        font-weight: 500;
    }
    p {
        margin-bottom: 0rem;
        font-weight: 300;
    }
}

.cta .button {
    line-height: .5;
    min-width: 40%;
    max-width: 45%;
    margin-bottom: 3rem;
}