<footer class="row column">
  <div class="footer-links">
    <h6>Navigate to:</h6>
    <ul>
      <li><a href="#">Seattle.gov Home Page</a></li>
      <li><a href="#">Businesses in Seattle</a></li>
      <li><a href="#">Living in Seattle</a></li>
      <li><a href="#">Visiting Seattle</a></li>
      <li><a href="#">City Services</a></li>
      <li><a href="#">Mayor’s Office</a></li>
      <li><a href="#">City Council</a></li>
      <li><a href="#">City Departments</a></li>
      <li><a href="#">My.Seattle.Gov</a></li>
    </ul>

    <h6>We’re Here to Help:</h6>
    <ul>
      <li><a href="#">Questions / Complaints</a></li>
      <li><a href="#">Seattle.gov FAQs</a></li>
      <li><a href="#">Employee Directory</a></li>
      <li><a href="#">City Customer Service</a></li>
      <li><a href="#">Call (206) 684-CITY (2489)</a></li>
    </ul>
  </div>

  <div class="copyright">
    <p>© Copyright 1995-2016 City of Seattle</p>
    <p>Privacy & Security Policy</p>
  </div>
</footer>