<div class="title-bar" data-responsive-toggle="global-nav" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">{{ site.title }}</div>
</div>


<div class="top-bar" id="global-nav">
  <div class="top-bar-left">
    <ul class="menu" data-dropdown-menu>
      <li class="menu-text">{{ site.title }}</li>
        {% for nav in site.data.navigation %}
          <li>
            <a href="{{ nav.path }}">{{ nav.label }}</a>
          </li>
        {% endfor %}
    </ul>
  </div>
</div>