---
layout: default
---

{% if page.img %}
  <img src="../img/{{ page.img }}">
{% endif %}
<article class="row column">
  <h1>{{ page.class-name }}</h1> 
  <div class="class-info">    
    <h2>Age {{ page.age }}</h2>
    <h2>{{ page.days-1 }} {{ page.time-1 }}</h2>
  </div>
  <p>{{ page.description }}</p>

  <div class="session-info">
    <div class="row">
      <div class="small-4 small-offset-1 columns">
        <h6>Instructor: </h6>
      </div>
      <div class="small-7 columns">
        <p>{{ page.instructor }}</p>
      </div>
    </div>

    <div class="row">
      <div class="small-4 small-offset-1 columns">
        <h6>Fees: </h6>
      </div>
      <div class="small-7 columns">
        <p>${{ page.cost-1 }}</p>
      </div>
    </div>

    <div class="row">
      <div class="small-4 small-offset-1 columns">
        <h6>Sessions:</h6>
      </div>
      <div class="small-7 columns">
        <p>{{ page.date-1 }}</p>
        <p>{{ page.date-2 }}</p>
        <p>{{ page.date-3 }}</p>
        <p>{{ page.date-3 }}</p>
      </div>
    </div>
  </div>

  <div class="cta row">
      <div class="small-10 small-centered columns clearfix">
          <a href="#" class="large button hollow float-left">Share</a>
          <a href="#" class="large button float-right">Register</a>
      </div>
  </div>

  <h3>More Classes in this Age Group</h3>
    {% for class in site.data.classes %}
      {% if page.age-category == class.age-category and page.class-name != class.class-name %}
        {% include class-tile.html %}
      {% endif %} 
    {% endfor %}

</article>


