---
layout: default
---
<img src="../img/{{ page.img }}">

<div class="row">
  <div class="small-12 columns"> 
    <h3 class="home-cat-nav">Community Center Programs</h3>
    {% include category-nav.html %}

    <div class="hours-contact">
      <h3>Hours & Contact Information</h3>

      <p><b>Center Information:</b> (206) 684-0780</p>
      <p><b>Address:</b> 7201 E Green Lake Dr N, 98115 (Map)</p>
      <p><b>Email:</b> GreenlakeCC@seattle.gov</p>

      <h6>Hours</h6>
        <ul>
          <li>Monday – Friday 1 - 9 p.m.</li>
          <li>Saturday 9 a.m. - 5 p.m.</li>
          <li>Sunday Closed</li>
        </ul>

      <h6>Holiday Closures</h6>
        <ul>  
          <li>Friday, Jan 1 New Years Day</li>
          <li>Monday, Jan 18 MLK Day</li>
          <li>Monday, Feb 15 Presidents' Day</li>
          <li>Monday, May 30 Memorial Day</li>
          <li>Monday, Jul 4 Independence Day</li>
          <li>Monday, Sep 5 Labor Day</li>
          <li>Friday, Nov 11 Veteran's Day (observed)</li>
          <li>Thursday, Nov 24 Thanksgiving Day</li>
          <li>Friday, Nov 25 Day After Thanksgiving</li>
          <li>Monday, Dec 26 Christmas Day</li>
        </ul>
    </div>

    <div class="social">
      <img src="img/social-facebook.png">
      <img src="img/social-twitter.png">
      <img src="img/social-flickr.png">
      <img src="img/social-youtube.png">
    </div>

  </div>
</div>